*{
    margin: 0;
    padding: 0;
}
.todo{
    background-color: #BCDCFB;
}

body.light {
    background-color: #BCDCFB;
}

body.dark {
    background-color: #1a1a1a;
    color: white;
}


.instruccion{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3C91E6;
    height: 97px;
    width: 100%;
}
.instruccion span{
    text-align: center;
    color: #fff;
    font-family:  Arial;
    font-weight: bold;
    font-size: 24px;
}

.contenido{
    display: flex;
    height: 641px;
    width: 100%;
}

.panel-barra{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
}

.progress-container {
    height: 550px; /* Altura del contenedor */
    width: 50px; /* Ancho del contenedor */
    background-color: #61A8EC;
    border-radius: 40px;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
}

.progress-bar{
    width: 100%;
    height: 0%; /* La altura se ajustará dinámicamente */
    background-color: #3C91E6;
    transition: height 0.5s ease-in-out;
    position: absolute;
    bottom: 0; /* La barra crece desde abajo */
}


.panel2{
    position: relative;
    width: 100%;
    height: 100%;
}

.panel-btn{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 140px;
    width: 100%;
}


.btn-salir{
    position: absolute;
    right: 0;
    margin-right: 100px;
    width: 140px;
    height: 70px;
    background-color: #61A8EC;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}



/* cosas individuales de cada ejercicio  */

.ejercicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 70vh;
}

.gesto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3C91E6;
    border-radius: 10px;
    width: 80%;
    height: 70%;
}


