*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("./fondop.png");
    background-size: cover;
}

.panel{
    display: flex;
    width: 840px;
    height: 560px;

    margin-top: 84px;
    margin-left: 320px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 560px;
    background-color: #F5F5F5;
    border-radius: 40px 0px 0px 40px;

}

/* .login{

} */

p{
    margin: 0;
    margin: 0px 0px 20px;

    text-align: center;
}

.formulario p:first-of-type{
    font-size: 40px;
    font-family: 'Arial';
    font-weight: bold;
    margin: 70px 0px 30px;
}

.boton-inicio{
    display: flex;
    justify-content: center;
    
}

.inicio{
    width: 180px;
    height: 50px;
    background-color: #23F0C7;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 15px ;
    font-weight: bold;
    border: none;
}

input{
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: 30px 0px 30px;
    font-size: 15px;
    height: 30px;
    width: 227px;
    padding-left: 30px;
    border: none;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 560px;
    background-color: #7A306C;
    border-radius: 0px 40px 40px 0px;
}

.bienvenida p{
    color: #ffffff;
    font-weight: bold;
}

.bienvenida p:first-of-type{
    font-size: 40px;
    font-family: 'Arial';
    font-weight: bold;
}

/* .bienvenida p:first-of-type{
    =
} */

.registro{
    width: 180px;
    height: 50px;
    background-color: #23F0C7;
    margin-top: 30px;
    border-radius: 10px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
}