{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'etapa3.css' %}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}">
    <div class="todo">
        <div class="panel-izquierdo">
            <div class="navegador">
                <nav>
                    <a href="/inicio/"><img src="{% static 'casa.png'%}" alt="1"></a>
                    <a href="/foro/"><img src="{% static 'foro.png'%}" alt="2"></a>
                    <a href="/repaso/"><img src="{% static 'libro.png'%}" alt="3"></a>
                    <a href="/perfil/"><img src="{% static 'usuario.png'%}" alt="4"></a> 
                </nav>        
            </div>
        </div>
        <div class="panel-derecho">
            <div class="etapa">
                <span class="titulo">Etapa 3</span>
                <span class="descripcion">En esta etapa aprenderas las categorias abecedario, calendario, colores y cuerpo humano.</span>

            </div>
            <div class="lecciones">
                <div class="item1">
                    <div class="nivel">Nivel1</div>
                </div>
                <div class="item2">
                    <div class="nivel">Nivel2</div>                    
                </div>
                <div class="back-L item3">
                    <a href="{% url 'generar_leccion' %}?leccion_id=54" class="leccionA">L1</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=55" class="leccionA">L2</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=56" class="leccionA">L3</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=57" class="leccionA">L4</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=58" class="leccionA">L5</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=59" class="leccionA">L6</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=60" class="leccionA">L7</a>
                </div>
                <div class="item4 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=67" class="leccionA">L14</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=66" class="leccionA">L13</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=65" class="leccionA">L12</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=64" class="leccionA">L11</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=63" class="leccionA">L10</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=62" class="leccionA">L9</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=61" class="leccionA">L8</a>    
                </div>
                <div class="item5 back-r">
                    <div class="leccionB r1">R1</div>
                </div>
                <div class="item6 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=68" class="leccionA">L15</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=69" class="leccionA">L16</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=70" class="leccionA">L17</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=71" class="leccionA">L18</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=72" class="leccionA">L19</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=73" class="leccionA">L20</a>
                </div>
                <div class="item7 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=80" class="leccionA">L27</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=79" class="leccionA">L26</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=78" class="leccionA">L25</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=77" class="leccionA">L24</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=76" class="leccionA">L23</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=75" class="leccionA">L22</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=74" class="leccionA">L21</a>
                </div>
                <div class="item8 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=28" class="leccionA">L28</a>
                </div>
                <div class="item9 back-r">
                    <div class="leccionB">R2</div>
                </div>
                <div class="item10 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=81" class="leccionA">L29</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=82" class="leccionA">L30</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=83" class="leccionA">L31</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=84" class="leccionA">L32</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=85" class="leccionA">L33</a>
                </div>
                <div class="item11 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=92" class="leccionA">L40</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=91" class="leccionA">L39</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=90" class="leccionA">L38</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=89" class="leccionA">L37</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=88" class="leccionA">L36</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=87" class="leccionA">L35</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=86" class="leccionA">L34</a>
                </div>
                <div class="item12 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=93" class="leccionA">L41</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=94" class="leccionA">L42</a>
                </div>
                <div class="item13 back-r">
                    <div class="leccionB">R3</div>
                </div>
                <div class="item14 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=95" class="leccionA">L43</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=96" class="leccionA">L44</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=97" class="leccionA">L45</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=98" class="leccionA">L46</a>
                </div>
                <div class="item15 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=105" class="leccionA">L53</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=104" class="leccionA">L52</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=103" class="leccionA">L51</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=102" class="leccionA">L50</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=101" class="leccionA">L49</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=100" class="leccionA">L48</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=99" class="leccionA">L47</a>
                </div>    
                <div class="item16 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=106" class="leccionA">L54</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=107" class="leccionA">L55</a>
                </div> 
                <div class="item17 back-r">
                    <div class="leccionB">R4</div>
                </div>
            </div>
        </div>
    </div>
   
    
</body>
</html>