{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'etapa1.css' %}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}">
    <div class="todo">
        <div class="panel-izquierdo">
            <div class="navegador">
                <nav>
                    <a href="/inicio/"><img src="{% static 'casa.png'%}" alt="1"></a>
                    <a href="/foro/"><img src="{% static 'foro.png'%}" alt="2"></a>
                    <a href="/repaso/"><img src="{% static 'libro.png'%}" alt="3"></a>
                    <a href="/perfil/"><img src="{% static 'usuario.png'%}" alt="4"></a> 
                </nav>        
            </div>
        </div>
        <div class="panel-derecho">
            <div class="etapa">
                <span class="titulo">Etapa1</span>
                <span class="descripcion">En esta etapa aprenderas las categorias abecedario, calendario, colores y cuerpo humano.</span>

            </div>
            <div class="lecciones">
                <div class="item1">
                    <div class="nivel">Nivel1</div>
                </div>
                <div class="item2">
                    <a href="{% url 'generar_leccion' %}?leccion_id=1" class="leccionA l1">L1</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=2" class="leccionA l2">L2</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=3" class="leccionA l3">L3</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=4" class="leccionA l4">L4</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=5" class="leccionA l5">L5</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=6" class="leccionA l6">L6</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=7" class="leccionA l7">L7</a>
                </div>
                <div class="item3">
                    <div class="nivel">Nivel2</div>
                </div>
                <div class="item4">
                    <div class="nivel">Nivel3</div>
                </div>
                <div class="item5">
                    <div class="nivel">Nivel4</div>
                </div>
                <div class="item6">
                    <a href="{% url 'generar_leccion' %}?leccion_id=13" class="leccionA l8">L13</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=12" class="leccionA l9">L12</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=11" class="leccionA l10">L11</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=10" class="leccionA l11">L10</a>
                </div>
                <div class="item7">
                    <div class=" leccionB l12">R1</div>
                </div>
                <div class="item8">
                    <a href="{% url 'generar_leccion' %}?leccion_id=9" class="leccionA l13">L9</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=8" class="leccionA l14">L8</a>
                </div>
                <div class="item9">
                    <a href="{% url 'generar_leccion' %}?leccion_id=14" class="leccionA l15">L14</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=15" class="leccionA l16">L15</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=16" class="leccionA l17">L16</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=17" class="leccionA l18">L17</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=18" class="leccionA l19">L18</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=19" class="leccionA l20">L19</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=20" class="leccionA l21">L20</a>
                </div>
                <div class="item10">
                    <a href="{% url 'generar_leccion' %}?leccion_id=26" class="leccionA l24">L26</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=25" class="leccionA l28">L25</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=24" class="leccionA l27">L24</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=23" class="leccionA l26">L23</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=22" class="leccionA l25">L22</a>
                </div>
                <div class="item11">
                    <div class="leccionB l23">R2</div>
                </div>
                <div class="item12">
                    <a href="{% url 'generar_leccion' %}?leccion_id=21" class="leccionA l22">L21</a>
                </div>
                <div class="item13">
                    <a href="{% url 'generar_leccion' %}?leccion_id=27" class="leccionA l29">L27</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=28" class="leccionA l30">L28</a>
                </div>
                <div class="item14">
                    <div class="leccionB l31">R3</div>
                </div>
                <div class="item15">
                    <a href="{% url 'generar_leccion' %}?leccion_id=29" class="leccionA l32">L29</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=30" class="leccionA l33">L30</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=31" class="leccionA l34">L31</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=32" class="leccionA l35">L32</a>
                </div>
                <div class="item17">
                    <div class="leccionB l42">R4</div>
                </div>
                <div class="item16">
                    <a href="{% url 'generar_leccion' %}?leccion_id=38" class="leccionA l36">L38</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=37" class="leccionA l37">L37</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=36" class="leccionA l38">L36</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=35" class="leccionA l39">L35</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=34" class="leccionA l40">L34</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=33" class="leccionA l41">L33</a>
                </div>
            </div>
        </div>
    </div>
   
    
</body>
</html>