{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'etapa4.css' %}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}">
    <div class="todo">
        <div class="panel-izquierdo">
            <div class="navegador">
                <nav>
                    <a href="/inicio/"><img src="{% static 'casa.png'%}" alt="1"></a>
                    <a href="/foro/"><img src="{% static 'foro.png'%}" alt="2"></a>
                    <a href="/repaso/"><img src="{% static 'libro.png'%}" alt="3"></a>
                    <a href="/perfil/"><img src="{% static 'usuario.png'%}" alt="4"></a> 
                </nav>        
            </div>
        </div>
        <div class="panel-derecho">
            <div class="etapa">
                <span class="titulo">Etapa 4</span>
                <span class="descripcion">En esta etapa aprenderas las categorias abecedario, calendario, colores y cuerpo humano.</span>

            </div>
            <div class="lecciones">
                <div class="item1">
                    <div class="nivel">Nivel1</div>
                </div>
                <div class="item2">
                    <div class="nivel">Nivel2</div>                    
                </div>
                <div class="item3">
                    <div class="nivel">Nivel3</div>
                </div>
                <div class="item4 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=101" class="leccionA">L1</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=102" class="leccionA">L2</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=103" class="leccionA">L3</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=104" class="leccionA">L4</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=105" class="leccionA">L5</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=106" class="leccionA">L6</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=107" class="leccionA">L7</a>    
                </div>
                <div class="item5 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=108" class="leccionA">L14</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=109" class="leccionA">L13</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=110" class="leccionA">L12</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=111" class="leccionA">L11</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=112" class="leccionA">L10</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=113" class="leccionA">L9</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=114" class="leccionA">L8</a>
                </div>
                <div class="item6 back-r">
                    <div class="leccionB r1">R1</div>        
                </div>
                <div class="item7 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=115" class="leccionA">L15</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=116" class="leccionA">L16</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=117" class="leccionA">L17</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=118" class="leccionA">L18</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=119" class="leccionA">L19</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=120" class="leccionA">L20</a>
                </div>
                <div class="item8 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=121" class="leccionA">L27</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=122" class="leccionA">L26</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=123" class="leccionA">L25</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=124" class="leccionA">L24</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=125" class="leccionA">L23</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=126" class="leccionA">L22</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=127" class="leccionA">L21</a>
                </div>
                <div class="item9 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=128" class="leccionA">L28</a>
                </div>
                <div class="item10 back-r">
                    <div class="leccionB">R2</div>
                </div>
                <div class="item11 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=129" class="leccionA">L29</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=130" class="leccionA">L30</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=131" class="leccionA">L31</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=132" class="leccionA">L32</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=133" class="leccionA">L33</a>
                </div>
                <div class="item12 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=134" class="leccionA">L37</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=135" class="leccionA">L36</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=136" class="leccionA">L35</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=137" class="leccionA">L34</a>
                </div>
                <div class="item13 back-r">
                    <div class="leccionB">R3</div>
                </div>
                <div class="item14 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=138" class="leccionA">L39</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=139" class="leccionA">L38</a>
                </div>
                <div class="item15 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=140" class="leccionA">L40</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=141" class="leccionA">L41</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=142" class="leccionA">L42</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=143" class="leccionA">L43</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=144" class="leccionA">L44</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=145" class="leccionA">L45</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=146" class="leccionA">L46</a>
                </div>    
                <div class="item16 back-r">
                    <div class="leccionB">R4</div>
                </div> 
                <div class="item17 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=147" class="leccionA">L50</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=148" class="leccionA">L49</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=149" class="leccionA">L48</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=150" class="leccionA">L47</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=151" class="leccionA">L48</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=152" class="leccionA">L47</a>
                </div>
                <div class="item18 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=153" class="leccionA">L52</a>
                </div>
                <div class="item19 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=154" class="leccionA">L53</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=155" class="leccionA">L54</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=156" class="leccionA">L55</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=157" class="leccionA">L56</a>
                </div>
                <div class="item20 back-r">
                    <div class="leccionB">R5</div>
                </div>
            </div>
        </div>
    </div>
   
    
</body>
</html>