{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'etapa4.css' %}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}">
    <div class="todo">
        <div class="panel-izquierdo">
            <div class="navegador">
                <nav>
                    <a href="/inicio/"><img src="{% static 'casa.png'%}" alt="1"></a>
                    <a href="/foro/"><img src="{% static 'foro.png'%}" alt="2"></a>
                    <a href="/repaso/"><img src="{% static 'libro.png'%}" alt="3"></a>
                    <a href="/perfil/"><img src="{% static 'usuario.png'%}" alt="4"></a> 
                </nav>        
            </div>
        </div>
        <div class="panel-derecho">
            <div class="etapa">
                <span class="titulo">Etapa 4</span>
                <span class="descripcion">En esta etapa aprenderas las categorias abecedario, calendario, colores y cuerpo humano.</span>

            </div>
            <div class="lecciones">
                <div class="item1">
                    <div class="nivel">Nivel1</div>
                </div>
                <div class="item2">
                    <div class="nivel">Nivel2</div>                    
                </div>
                <div class="item3">
                    <div class="nivel">Nivel3</div>
                    
                </div>
                <div class="item4 back-L">
                    <div class="leccionA ">L1</div>
                    <div class="leccionA ">L2</div>
                    <div class="leccionA ">L3</div>
                    <div class="leccionA ">L4</div>
                    <div class="leccionA ">L5</div>
                    <div class="leccionA ">L6</div>
                    <div class="leccionA ">L7</div>    
                </div>
                <div class="item5 back-L">
                    <div class="leccionA ">L14</div>
                    <div class="leccionA ">L13</div>
                    <div class="leccionA ">L12</div>
                    <div class="leccionA ">L11</div>
                    <div class="leccionA ">L10</div>
                    <div class="leccionA ">L9</div>
                    <div class="leccionA ">L8</div>
                </div>
                <div class="item6 back-r">
                    <div class="leccionB r1">R1</div>        
                </div>
                <div class="item7 back-L">
                    <div class="leccionA ">L15</div>
                    <div class="leccionA ">L16</div>
                    <div class="leccionA ">L17</div>
                    <div class="leccionA ">L18</div>
                    <div class="leccionA ">L19</div>
                    <div class="leccionA ">L20</div>
                </div>
                <div class="item8 back-L">
                    <div class="leccionA ">L27</div>
                    <div class="leccionA ">L26</div>
                    <div class="leccionA ">L25</div>
                    <div class="leccionA ">L24</div>
                    <div class="leccionA ">L23</div>
                    <div class="leccionA ">L22</div>
                    <div class="leccionA ">L21</div>
                </div>
                <div class="item9 back-L">
                    <div class="leccionA ">L28</div>
                    
                </div>
                <div class="item10 back-r">
                    <div class="leccionB ">R2</div>
                    
                </div>
                <div class="item11 back-L">
                    <div class="leccionA ">L29</div>
                    <div class="leccionA ">L30</div>
                    <div class="leccionA ">L31</div>
                    <div class="leccionA ">L32</div>
                    <div class="leccionA ">L33</div>
                </div>
                <div class="item12 back-L">
                    
                    <div class="leccionA ">L37</div>
                    <div class="leccionA ">L36</div>
                    <div class="leccionA ">L35</div>
                    <div class="leccionA ">L34</div>
                </div>
                <div class="item13 back-r">
                    <div class="leccionB ">R3</div>
                </div>
                <div class="item14 back-L">
                    <div class="leccionA ">L39</div>
                    <div class="leccionA ">L38</div>

                    
                </div>
                <div class="item15 back-L">
                    <div class="leccionA ">L40</div>
                    <div class="leccionA ">L41</div>
                    <div class="leccionA ">L42</div>
                    <div class="leccionA ">L43</div>
                    <div class="leccionA ">L44</div>
                    <div class="leccionA ">L45</div>
                    <div class="leccionA ">L46</div>

                </div>    
                <div class="item16 back-r">
                    <div class="leccionB ">R4</div>
                    
                    
                </div> 
                <div class="item17 back-L">
                    <div class="leccionA ">L50</div>
                    <div class="leccionA ">L49</div>
                    <div class="leccionA ">L48</div>
                    <div class="leccionA ">L47</div>
                    <div class="leccionA ">L48</div>
                    <div class="leccionA ">L47</div>
                    
                </div>
              
                <div class="item18 back-L">
                    <div class="leccionA ">L52</div>
                   
                </div>
                <div class="item19 back-L">
                    <div class="leccionA ">L53</div>
                    <div class="leccionA ">L54</div>
                    <div class="leccionA ">L55</div>
                    <div class="leccionA ">L56</div>
                   
                </div>

                <div class="item20 back-r">
                    <div class="leccionB ">R5</div>
                   
                </div>



            </div>
        </div>
    </div>
   
    
</body>
</html>