{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'etapa2.css' %}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}">

    <div class="todo">
        <div class="panel-izquierdo">
            <div class="navegador">
                <nav>
                    <a href="/inicio/"><img src="{% static 'casa.png'%}" alt="1"></a>
                    <a href="/foro/"><img src="{% static 'foro.png'%}" alt="2"></a>
                    <a href="/repaso/"><img src="{% static 'libro.png'%}" alt="3"></a>
                    <a href="/perfil/"><img src="{% static 'usuario.png'%}" alt="4"></a> 
                </nav>        
            </div>
        </div>
        <div class="panel-derecho">
            <div class="etapa">
                <span class="titulo">Etapa 2</span>
                <span class="descripcion">En esta etapa aprenderas las categorias matemáticas y adjetivos calificativos.</span>

            </div>
            <div class="lecciones">
                <div class="item1">
                    <div class="nivel">Nivel1</div>
                </div>
                <div class="item2">
                    <div class="nivel">Nivel2</div>                    
                </div>
                <div class="item3 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=34" class="leccionA">L1</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=35" class="leccionA">L2</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=36" class="leccionA">L3</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=37" class="leccionA">L4</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=38" class="leccionA">L5</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=39" class="leccionA">L6</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=40" class="leccionA">L7</a>
                </div>
                <div class="item4 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=46" class="leccionA">L13</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=45" class="leccionA">L12</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=44" class="leccionA">L11</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=43" class="leccionA">L10</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=42" class="leccionA">L9</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=41" class="leccionA">L8</a>
                </div>
                <div class="item5 back-r">
                    <div class="leccionB">R1</div>
                </div>
                <div class="item6 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=47" class="leccionA">L14</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=48" class="leccionA">L15</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=49" class="leccionA">L16</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=50" class="leccionA">L17</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=51" class="leccionA">L18</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=52" class="leccionA">L19</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=53" class="leccionA">L20</a>
                </div>
                <div class="item7 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=21" class="leccionA">L22</a>
                    <a class="leccionA">L21</a>
                </div>
                <div class="item8 back-r">
                    <div class="leccionB">R2</div>
                </div>
            </div>
                

            </div>
        </div>
    </div>
   
    
</body>
</html>