{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'etapa1.css' %}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}">
    <div class="todo">
        <div class="panel-izquierdo">
            <div class="navegador">
                <nav>
                    <a href="/inicio/"><img src="{% static 'casa.png'%}" alt="1"></a>
                    <a href="/foro/"><img src="{% static 'foro.png'%}" alt="2"></a>
                    <a href="/repaso/"><img src="{% static 'libro.png'%}" alt="3"></a>
                    <a href="/perfil/"><img src="{% static 'usuario.png'%}" alt="4"></a> 
                </nav>        
            </div>
        </div>
        <div class="panel-derecho">
            <div class="etapa">
                <span class="titulo">Etapa1</span>
                <span class="descripcion">En esta etapa aprenderas las categorias abecedario, calendario, colores y cuerpo humano.</span>

            </div>
            <div class="lecciones">
                <div class="item1">
                    <div class="nivel">Nivel1</div>
                </div>
                <div class="item2">
                    <div class="leccionA l1">L1</div>
                    <div class="leccionA l2">L2</div>
                    <div class="leccionA l3">L3</div>
                    <div class="leccionA l4">L4</div>
                    <div class="leccionA l5">L5</div>
                    <div class="leccionA l6">L6</div>
                    <div class="leccionA l7">L7</div>
                </div>
                <div class="item3">
                    <div class="nivel">Nivel2</div>
                </div>
                <div class="item4">
                    <div class="nivel">Nivel3</div>
                </div>
                <div class="item5">
                    <div class="nivel">Nivel4</div>
                </div>
                <div class="item6">
                    <div class="leccionA l8">L13</div>
                    <div class="leccionA l9">L12</div>
                    <div class="leccionA l10">L11</div>
                    <div class="leccionA l11">L10</div>
                </div>
                <div class="item7">
                    <div class=" leccionB l12">R1</div>
                </div>
                <div class="item8">
                    <div class="leccionA l13">L9</div>
                    <div class="leccionA l14">L8</div>
  
                </div>
                <div class="item9">
                    <div class="leccionA l15">L14</div>
                    <div class="leccionA l16">L15</div>
                    <div class="leccionA l17">L16</div>
                    <div class="leccionA l18">L17</div>
                    <div class="leccionA l19">L18</div>
                    <div class="leccionA l20">L19</div>
                    <div class="leccionA l21">L20</div>

                </div>
                <div class="item10">
                    <div class="leccionA l24">L26</div>
                    <div class="leccionA l28">L25</div>
                    <div class="leccionA l27">L24</div>
                    <div class="leccionA l26">L23</div>
                    <div class="leccionA l25">L22</div>

                </div>
                <div class="item11">
                    <div class="leccionB l23">R2</div>
                    
                </div>
                <div class="item12">
                    <div class="leccionA l22">L21</div>
                </div>
                <div class="item13">
                    <div class=" leccionA l29">L27</div>
                    <div class="leccionA l30">L28</div>
                    
                </div>
                <div class="item14">
                    <div class="leccionB l31">R3</div>
                    
                </div>
                <div class="item15">
                    <div class="leccionA l32">L29</div>
                    <div class=" leccionA l33">L30</div>
                    <div class="leccionA l34">L31</div>
                    <div class="leccionA l35">L32</div>
                </div>
                <div class="item17">
                    <div class="leccionB l42">R4</div>

                </div>
                <div class="item16">
                    <div class="leccionA l36">L38</div>
                    <div class="leccionA l37">L37</div>
                    <div class="leccionA l38">L36</div>
                    <div class="leccionA l39">L35</div>
                    <div class="leccionA l40">L34</div>
                    <div class="leccionA l41">L33</div>
                </div>
                

            </div>
        </div>
    </div>
   
    
</body>
</html>