{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio1</title>
    <link rel="stylesheet" href="{% static 'e03.css'%}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}" data-url-verificacion="{% url 'verificar_emparejar' %}" data-url-siguiente="{% url 'siguiente_ejercicio' %}">

    <div class="todo">
        <div class="instruccion">
            <span>{{ texto_instruccion }}</span>
        </div>
        <div class="contenido">
            <div class="panel-barra">
                <div class="progress-container">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
            </div>
            <div class="panel2">
                <div class="palabras">
                    {% for palabra in palabras %}
                        <div data-id="{{ palabra.id }}" class="palabra">{{ palabra.palabra }}</div>
                    {% endfor %}
                </div>
                <div class="gestos">
            {% for gesto in gestos %}
                <div class="gesto" data-id="{{ gesto.objeto.id }}">
                    {% if gesto.es_video %}
                        <video src="{{ gesto.url }}" alt="Gesto {{ palabra_correcta}}" autoplay loop width="80%"></video>
                    {% else %}
                        <img src="{{ gesto.url }}" alt="Gesto {{ gesto.objeto.palabra}}" width="80%" padding="10%" margin="0">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
                <div class="panel-btn">
                    <button class="btn-salir">Salir</button>
                    <button id="btn-verificar" disabled>Verificar</button>
                    <form method="post" action="{% url 'siguiente_ejercicio' %}">
                        {% csrf_token %}
                        <button type="submit">Siguiente</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'progress.js' %}"></script>
    <script src="{% static 'emparejar.js' %}"></script>
</body>
</html>