{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesto</title>
    <link rel="stylesheet" href="{% static 'e06.css'%}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}">

    <div class="todo">
        <div class="instruccion">
            <span>{{ texto_instruccion }}</span>
        </div>
        <div class="contenido">
            <div class="panel-barra">
                <div class="progress-container">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
            </div>
            <div class="panel2">
                <div class="ejercicio">
                    <div class="gesto">
                        {% if video %}
                            <video src="{{ archivo }}" controls width="200"></video>
                        {% else %}
                            <img src="{{ archivo }}" alt="Gesto" width="80%" padding="10%" margin="0">
                        {% endif %}

                    </div>
                    <div class="gesto g-usuario"></div>
                </div>
                <div class="panel-btn">
                    <button class="btn-salir">Salir</button>
                    <form method="post" action="{% url 'siguiente_ejercicio' %}">
                        {% csrf_token %}
                        <button type="submit">Siguiente</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'ejercicio.js' %}"></script>

</body>
</html>