{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio5</title>
    <link rel="stylesheet" href="{% static 're05.css'%}">
</head>
<body>
    <div class="todo">
        <div class="instruccion">
            <p>La instruccion del ejercicio va aqui chicos</p>
        </div>
        <div class="contenido">
            <div class="panel-barra">
                <div class="progress-container">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
            </div>
            <div class="panel2">
                <div class="ejercicio"></div>
                <div class="panel-btn">
                    <button class="btn-salir">Salir</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'ejercicio.js' %}"></script>

</body>
</html>