{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso</title>
    <link rel="stylesheet" href="{% static 'repaso.css'%}">
</head>
<body>
    <div class="todo">
        <div class="instruccion">
            <p>Realiza los siguientes gestos</p>
        </div>
        <div class="contenido">
            <div class="panel">
                <div class="ejercicio">
                    <div class="referencia">

                    </div>
                    <div class="usuario">

                    </div>
                </div>
                <div class="panel-btn">
                    <button class="btn-salir">No lo recuerdo</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'ejercicio.js' %}"></script>

</body>
</html>